XML validators/XSD Validator/validate.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:element name = 'customers'>
<xs:complexType>
<xs:sequence>
<xs:element name = 'customer' type = 'StudentType' minOccurs = '0' 
maxOccurs = 'unbounded' />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name = "StudentType">
<xs:sequence>
<xs:element name = "name" type = "xs:string"/>
<xs:element name = "nation" type = "xs:string"/>
<xs:element name = "role" type = "xs:string"/>
<xs:element name = "ipl" type = "xs:string"/>
</xs:sequence>
<xs:attribute name = 'no' type = 'xs:positiveInteger'/>
</xs:complexType>			
</xs:schema>
